# Power BI Custom Visuals - Safe Git Ignore

# Node modules  
node_modules/

# PBIVIZ temp build folders  
.tmp/
bin/
obj/
dist/

# Build output  
dist/*.pbiviz
dist/*.zip

# Logs  
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts and caches  
.cache/
.eslintcache

# OS / IDE files  
.DS_Store
Thumbs.db
.webpack.stati

# Certificates (optional: keep out of repo)
*.pem
*.pfx
*.key

# vs settings folder
.vscode/
webpack.statistics.dev.html

